{% extends "base.html" %}

{% block main %}

<h1>Profile</h1>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id = 'info'>
            <!--Image throwing error-->
            <img src="{{ url_for('static', filename='uploads/' + user.file) }}">
            <h3>{{ users.first_name}} {{ users.last_name }}</h3>
            <p><b>Profie created on:</b> {{ users.date }}</p> <br>
            <p><b>User ID:</b> {{ users.id }}</p>
            <p><b>Gender:</b> {{ users.gender }}</p>
            <p><b>Age:</b> {{ users.age }}</p>
            <p>{{ users.biography }}</p>
         </div>
    </div>
    <div class="col-md-3"></div>
</div>


{% endblock %}
